<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="{{ asset('styles/dashlite.css') }}" rel="stylesheet" />
            <link href="{{ asset('styles/theme.css') }}" rel="stylesheet" />
            {#<link href="{{ asset('styles/themify-icons.css') }}" rel="stylesheet" />#}
            <link href="{{ asset('styles/fontawesome-icons.css') }}" rel="stylesheet" />
        {% endblock %}

        
    </head>
    <body class="nk-body bg-lighter npc-general has-sidebar ">
        <div class="nk-app-root">
            <!-- main @s -->
            <div class="nk-main ">
                {{ include('inc/_sidebar.html.twig') }}
                <!-- wrap @s -->
                <div class="nk-wrap ">
                    {{ include('inc/_main-header.html.twig') }}
                    <!-- content @s -->
                    <div class="nk-content ">
                        {% block body %}{% endblock %}
                    </div>
                    <!-- content @e -->
                    {{ include('inc/_footer.html.twig')}}
                </div>
                <!-- wrap @e -->
            </div>
        </div>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            
            <script src="{{ asset('js/jquery-3.6.0.js') }}"></script>
            <script src="{{ asset('js/nioapp.min.js') }}"></script>
            
            <script src="{{ asset('js/bundle.js') }}"></script>
            <script src="{{ asset('js/scripts.js') }}"></script>
            <script src="{{ asset('js/charts/gd-default.js') }}"></script>
            <script src="{{ asset('js/apps/kanban.js') }}"></script>
            <script src="{{ asset('js/jquery.knob.min.js') }}"></script>
            <script src="{{ asset('js/libs/jkanban.js') }}"></script>
            <script src="{{ asset('js/prettify.js') }}"></script>
            <script src="{{ asset('js/clipboard.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
