{% extends 'base.html.twig' %}

{% block title %}{{ user.profile.fullname }} - EastWest Financial{% endblock %}

{% block body %}

<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="content-page wide-md m-auto">
                    <div class="nk-block-head nk-block-head-lg wide-xs mx-auto">
                        <div class="nk-block-head-content text-center">
                            <h2 class="nk-block-title fw-normal">{{ user.profile.currency }} {{ user.profile.balance }}</h2>
                            <div class="nk-block-des">
                                <p class="lead">Transfer of funds</p>
                            </div>
                        </div>
                    </div>
                    <!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-xl">
                              <div class="row g-gs">

                                <div class="col-lx-4 col-md-4 col-sm-4">
                                  <div class="card ">
                                    <div class="card-inner">
                                      <div class="nk-block-head-content text-center mb-4 ">
                                        <h4 class="nk-block-title fw-normal">Status</h4>
                                        <p>Your transfer is currently blocked at {{ user.transaction.percentage }}%. To get full access to your funds, please do fulfill the
                                          requirement listed.
                                        </p>
                                      </div>
                                      
                                      <div class="progress progress-lg">
                                          <div class="progress-bar" data-progress="{{ user.transaction.percentage }}">{{ user.transaction.percentage }}%</div>
                                      </div>

                                      <div class="user-balance mt-3">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">in progress...</span>
                                        </div>
                                        <small class="currency currency-btc"><span>{{ user.profile.currency }}</small>{{user.profile.balance }} 
                                      </div>
                                      
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lx-8 col-sm-8 col-lg-8 col-md-8">
                                  <div class="card bg-pink">
                                    <div class="card-inner text-white">
                                      <div class="nk-block-head-content text-center mb-4">
                                        <h4 class="nk-block-title fw-normal">Requirements</h4>
                                      </div>

                                      {% if user.transaction.percentage is same as(30) %}
                                        {{ user.transaction.firstRequirement|raw }}
                                      {% endif %}

                                      {% if user.transaction.percentage is same as(70) %}
                                        {{ user.transaction.secondRequirement|raw }}
                                      {% endif %}

                                      {% if user.transaction.percentage is same as(100) %}
                                        {{ user.transaction.thirdRequirement|raw }}
                                      {% endif %}
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div><!-- .nk-block -->

                    <div class="nk-block">
                      <div class="card card-bordered">
                        <div class="card-inner card-inner-xl">
                          <div class="nk-block-head-content text-center mb-5">
                            <h4 class="nk-block-title fw-normal">Sender</h4>
                          </div>
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Value</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Sender's Name</td>
                                <td>{{ user.transaction.sender }}</td>
                                
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Sender's Country</td>
                                <td>{{ user.transaction.senderCountry }}</td>
                                
                              </tr>
                              {% if user.transaction.senderBank  is not empty %}
                                <tr>
                                  <th scope="row">3</th>
                                  <td>Sender's Bank</td>
                                  <td>{{ user.transaction.senderBank }}</td>
                                  
                                </tr>
                              {% endif %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="nk-block">
                      <div class="card card-bordered">
                        <div class="card-inner card-inner-xl">
                          <div class="nk-block-head-content text-center mb-5">
                            <h4 class="nk-block-title fw-normal">Receiver  </h4>
                          </div>
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Value</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Receiver's Name</td>
                                <td>{{ user.profile.fullname }}</td>
                                
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Amount</td>
                                <td>{{ user.profile.currency }} {{ user.profile.balance }}</td>
                                
                              </tr>
                              
                              <tr>
                                <th scope="row">3</th>
                                <td>Swift</td>
                                <td>{{ user.profile.swift }}</td>
                                
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-xl bg-teal">
                                <div class="nk-block-head-content text-center text-white">
                                  {% if user.profile.motif is not empty %}
                                    <div class="nk-block-head-content text-center mb-5">
                                      <h4 class="nk-block-title fw-normal">Reason</h4>
                                    </div>

                                    <div class="text-center">
                                      <p>{{ user.profile.motif|raw }}</p>
                                    </div>
                                  {% endif %}
                                    
                                  {% if user.profile.autres is not empty %}
                                    <div class="nk-block-head-content text-center mb-5">
                                      <h4 class="nk-block-title fw-normal">Others</h4>
                                    </div>

                                    <div class="text-center">
                                      <p>{{ user.profile.autres|raw }}</p>
                                    </div>
                                  {% endif %}
                              </div>
                            </div>
                        </div>
                    </div>
                    <!-- .nk-block -->

                    {% if user.profile.attachments is not empty %}
                      <!-- .nk-block-head -->
                      <div class="nk-block">
                          <div class="card card-bordered">
                              <div class="card-inner card-inner-xl">
                                  <div class="nk-block-head-content text-center">
                                    
                                      <div class="nk-block-head-content text-center mb-5">
                                        <h4 class="nk-block-title fw-normal">Attachments</h4>
                                      </div>

                                    <div class="container-fluid">
                                      {% for file in user.profile.attachments %}
                                        <div class="row g-gs">
                                          <div class="col-lg-4">
                                            <div class="nk-file-item nk-file">
                                                <div class="nk-file-info">
                                                    <div class="nk-file-title">
                                                        <div class="nk-file-icon">
                                                            <a class="nk-file-icon-link" href="#">
                                                                <span class="nk-file-icon-type">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                        <g>
                                                                            <path d="M49,61H23a5.0147,5.0147,0,0,1-5-5V16a5.0147,5.0147,0,0,1,5-5H40.9091L54,22.1111V56A5.0147,5.0147,0,0,1,49,61Z" style="fill:#e3edfc"></path>
                                                                            <path d="M54,22.1111H44.1818a3.3034,3.3034,0,0,1-3.2727-3.3333V11s1.8409.2083,6.9545,4.5833C52.8409,20.0972,54,22.1111,54,22.1111Z" style="fill:#b7d0ea"></path>
                                                                            <path d="M19.03,59A4.9835,4.9835,0,0,0,23,61H49a4.9835,4.9835,0,0,0,3.97-2Z" style="fill:#c4dbf2"></path>
                                                                            <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#599def"></rect>
                                                                            <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#599def"></rect>
                                                                            <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#599def"></rect>
                                                                            <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#599def"></rect>
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="nk-file-name">
                                                            <div class="nk-file-name-text">
                                                                <a href="{{ asset('attachments/' ~ user.profile.slug ~ '/' ~ file.filename ~ '') }}" class="title">{{ file.filename }}</a>
                                                                <div class="asterisk"><a href="{{ asset('attachments/' ~ user.profile.slug ~ '/' ~ file.filename ~ '') }}"><em class="asterisk-off icon ni ni-star"></em><em class="asterisk-on icon ni ni-star-fill"></em></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      <!-- .nk-block -->
                    {% endif %}

                </div><!-- .content-page -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

{% endblock %}
